    name: Scala CI

    on: [push, pull_request]

    jobs:
      build:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-java@v4
          with:
            distribution: 'temurin'
            java-version: '17'
            cache: sbt
        - uses: sbt/setup-sbt@v1
          with:
            sbt-version: 1.x
        - name: Compile and Test
          run: sbt clean compile test
